@import "../../../theme/styles/theme"

.footer
  width: 100%
  background-color: #212121
  display: flex
  flex: 0 0 60px
  justify-content: space-between
  padding: $grid-gutter-width $fullPageSpacing
  color: $white