@import "../../../theme/styles/theme"

.footer
  background-color: #212121
  display: flex
  justify-content: space-between
  width: 100%
  padding: $grid-gutter-width $fullPageSpacing
  color: $white