@import "../../../theme/styles/theme"

.footer
  width: 100%
  background-color: $bg_color_alpha
  display: flex
  flex: 0 0 auto
  justify-content: space-between
  padding: $grid-gutter-width $fullPageSpacing
  color: $white