+create_rythm

*
  +box-sizing(border-box)
  &:before,
  &:after
    +box-sizing(border-box)

  
html
  min-height: 100%
  height: 100%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  overflow: auto

body
  background-color: #f0f0f0
  color: $text_color
  min-height: 100%
  height: 100%
  margin: 0
  padding: 0
  font-weight: normal
  font-family: $font_family
  +clearfix
  overflow: auto


a,
a:focus
  outline: 0
  text-decoration: none
  color: $text_color


ul, ol
  padding: 0
  margin: 0
  padding-left: 1em

  li
    padding-bottom: 5px


sup
  vertical-align: baseline
  position: relative
  top: -0.4em


img
  vertical-align: middle


b,
strong
  font-family: $font_family_bold


.svg_text
  +svg_dimensions


// .img-responsive
//   +img-responsive


.clearfix
  +clearfix


.lead
  margin-bottom: getRythm()
  +font_size(20px)
  +line_height(1)
 

hr
  border: 0
  border-top: 1px solid $grey_light
  margin-top: getRythm()
  margin-bottom: getRythm()

  &.slim
    margin-top: getRythm(0.22)
    margin-bottom: getRythm(0.33)


h1
  +font_size(36px)
  +line_height(2)
  margin-bottom: getRythm()


h2
  +font_size(30px)
  +line_height(2)
  margin-bottom: getRythm()


h3
  +font_size(24px)
  +line_height(1.5)
  margin-bottom: getRythm(.5)


h4
  +font_size(18px)
  +line_height(1.5)
  margin-bottom: getRythm(.5)

.grey
  color: $grey_mid
