@import "theme"


.form
  +clearfix


.toolTipHtmlContent
  text-align: left !important

  li
    text-transform: capitalize


.form_row
  position: relative
  +clearfix
  
  &:not(:last-child),
  &:only-child
    margin-bottom: 16px
