@import "../../theme/styles/theme"

.roverView
  background-color: $bg_color_alpha

  .pageHeader
    padding: 0 getRythm()

  .pageContent
    padding: getRythm()

.listEmpty
  +font_size(20px)
  padding: getRythm()
  margin: getRythm() 0
  background-color: rgba($white, .44)

.roverPhotoDataData
  display: flex
  flex-wrap: wrap
  margin: -#{getRythm(.0875)}
  padding: getRythm() 0

.roverMissionData
  .roverName
    display: block
    width: 100%

  .roverMissionStatsWrap
    display: flex
    
    .roverAvatar
      flex: 0 0 100px
      +height(3)
      margin-right: getRythm()
      background-color: red
      border: 1px solid rgba($white, .44)

    .roverMissionStats
      flex: 1
      .roverMissionStat

.buttonPane
  display: flex

  .statsPane
    flex: 1 1 auto
  
  .filterPane
    flex: 0 0 100%
  
  .rangePane
    flex: 1 1 auto
  
  .sortPane
    flex: 1 1 auto

  .loadPane
    flex: 1 1 auto

.solCard
  flex: 1 1 auto
  margin: getRythm(.0875)
  background-color: rgba($white, .44)
  padding: getRythm()
  color: $text_color
  cursor: pointer
  display: flex
  flex-direction: column

  .sol_card_sol
    +font_size(20px)
    color: darken($text_color, 10%)
    font-weight: bold
    flex: 0 1 auto
    display: inline
    width: auto

  .sol_card_totalPhotos
    flex: 0 1 auto
    display: inline
    width: auto

  .sol_card_cameras
    flex: 0 1 auto
    display: inline
    width: auto
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis

  &:hover
    background-color: rgba($white, .66)

.solsImgs
  display: flex
  flex-wrap: wrap

.solImg
  flex: 1 0 200px
  margin: getRythm(.0875)
  background-color: rgba($white, .44)
  padding: getRythm()
  color: $text_color
  cursor: pointer

  .headline
    +font_size(20px)
    color: darken($text_color, 10%)
    font-weight: bold
  
  .subHeadline
    +font_size(18px)
    color: darken($text_color, 10%)

  .image
    max-width: 100%
    +height(5)
    border: 1px solid darken($text_color, 10%)

  .cameraData

      // display: flex
      // flex-wrap: wrap
  
      // div
      //   flex: 1 1  100px
  
