@import "../../theme/styles/theme"

.roverView
  background-color: $bg_color_alpha

  .pageHeader
    padding: 0 30px

.roverPhotoDataData
  display: flex
  flex-wrap: wrap
  // background-color: rgba($black, .61)
  padding: 16px

.roverMissionStatsWrap
  // background-color: rgba($black, .61)
  padding: 16px

  .roverName
    display: block
    width: 100%
    margin: 0

  .roverAvatar
    width: 100px
    height: 100px
    border: 1px solid rgba($white, .44)
    display: inline-block

  .roverMissionStats
    display: inline-flex
    flex-direction: column
    margin-left: 16px
    .roverMissionStatsCard
      flex: 1

.solCard
  flex: 1 1  100px
  margin: 6px
  border: 1px solid rgba($black, .61)
  background-color: rgba($white, .44)
  padding: 16px
  color: $text_color
  cursor: pointer

  .sol_card_sol
    +adjust-font-size-to(20px)
    color: darken($text_color, 10%)
    font-weight: bold

  .sol_card_total_photos
  .sol_card_total_cameras

  &:hover
    background-color: rgba($white, .66)

.solsImgs
  display: flex
  flex-wrap: wrap
  // background-color: rgba($black, .61)
  padding: 16px

.solImg
  flex: 1 0 200px
  margin: 6px
  border: 1px solid rgba($black, .61)
  background-color: rgba($white, .44)
  padding: 16px
  color: $text_color

  .headline
    +adjust-font-size-to(20px)
    color: darken($text_color, 10%)
    font-weight: bold
    margin: 0
  
  .subHeadline
    +adjust-font-size-to(18px)
    color: darken($text_color, 10%)
    margin: 0

  .image
    max-width: 100%
    border: 1px solid darken($text_color, 10%)

  .cameraData


      // display: flex
      // flex-wrap: wrap
  
      // div
      //   flex: 1 1  100px
  
