@import "../../theme/styles/theme"

.root
  height: 100%
  min-height: 100%
  background:
    image: url('../../theme/bg.jpg')
    repeat: no-repeat
    position: center bottom
    // yes, distort it
    size: 100% 100%
    color: #1e1e1e
    // blend-mode: lighten
  overflow: auto

  .app
    height: 100%
    min-height: 100%
    display: flex
    // ???
    // flex-direction: row
    flex-direction: column

    .page
      position: relative
      flex: 1 1 100%
      +margin-trailer(2)
      padding-left: $fullPageSpacing
      padding-right: $fullPageSpacing
      