@import "../../theme/styles/theme"

.page
  +clearfix
  +margin-trailer(2)

.content
  height: 100%
  background:
    image: url('../../theme/IMG_1672.jpg')
    repeat: no-repeat
    position: center top
    size: cover
    // color: rgba(#ff0000, .33)
    // blend-mode: lighten
  overflow: auto

.main_conatiner
  position: relative
  flex: 1 1 100%

.root
  display: flex
  // ???
  // flex-direction: row
  flex-direction: column
  height: 100%
  min-height: 100%
  overflow: auto
